.lp-header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 
}

.lp-header-nav-logo {
  font-size: 2rem;
  font-weight: 1000;
  color: var(--text-primary-color);
}

.lp-header img {
  max-height: 35px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.lp-header-nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: var(--bg-primary-color);
  padding: 20px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.lp-header-nav-links.open {
  display: flex;
  max-height: 500px; /* Ajuste conforme necessário */
  padding-left: 370px;
  

}

.lp-header-nav-links a {
  color: var(--text-primary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

.lp-header-nav-links a:hover {
  color: var(--btn-primary-color);
}

.lp-menu-icon {
  display: block;
  font-size: 24px;
  color: var(--text-primary-color);
  cursor: pointer;
}


@media (max-width: 768px) {
  .lp-header-nav-logo img {
    max-height: 40px;
  }
}
