.lp-faqs {
    padding: 50px 20px;
    background-color: var(--bg-secondary-color);
    text-align: center;
    color: var(--text-secondary-colo);


  }
  
  .lp-faqs h2 {
    color: var(--text-secondary-colo);
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    padding: 0 20px;
  }
  
  .lp-faq {
    margin-bottom: 20px;
    text-align: left;
    padding: 0 20px;
  }
  
  .lp-faq h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var( --bg-primary-color);
    padding: 0 20px;
  }
  
  .lp-faq p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 0 20px;
  }
  
  @media (min-width: 768px) {
    .lp-faqs h2 {
      font-size: 32px;
    
    }
  
    .lp-faq h3 {
      font-size: 22px;
      
    }
  
    .lp-faq p {
      font-size: 18px;
    }
  }
  
  @media (min-width: 1024px) {
    .lp-faqs h2 {
      font-size: 36px;
    }
  
    .lp-faq h3 {
      font-size: 24px;
    }
  
    .lp-faq p {
      font-size: 20px;
    }
  }
  