.lp-clients {
  padding: 50px 0;
  background-color: var(--bg-tertiary-color);
  text-align: center;
}

.lp-clients h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--text-secondary-color);
  padding: 0 20px;
}

.lp-clients-grid {
  display: flex;
  flex-wrap: nowrap; /* Keeps it a horizontal carousel */
  gap: 20px;
  justify-content: flex-start;
  overflow-x: auto; /* Enables horizontal scrolling */
  padding: 20px 25px;
}

.lp-client-card {
  background: white;
  border: 1px solid var(--border-primary-color);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  min-width: 80%; /* This ensures that each card has a width suitable for mobile screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.lp-client-card:hover {
  transform: translateY(-10px); /* Keep the card shadow effect when hovered */
}

.client-image-container {
  position: relative;
  overflow: hidden; /* Keeps the image scaling effect inside the boundaries */
  
}

.client-image {
  display: flex;
  width: 100%;
  height
  border-radius: 4px;
  transition: transform 0.4s ease; /* Smooth scaling on hover */
  
}

/* Dark overlay and centered name */
.client-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
  border-radius: 4px;
}


.client-name {
  color: var(--text-primary-color);
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
}

/* Blockquote and other text styles */
.lp-client-card blockquote {
  color: #666;
  font-style: italic;
  font-size: 14px;
  margin: 10px 0 0;
}

/* Hover effect for image scaling */
.lp-client-card:hover img {
  transform: scale(1.05); /* Slight scale on hover */
  transition: transform 0.4s ease;
}

/* Desktop Enhancements */
@media (min-width: 800px) {
  .lp-client-card {
    min-width: 25%; /* Show more cards on larger screens */
  }

  .lp-client-card img {
    max-height: 300px;
  }

  .lp-client-card blockquote {
    font-size: 16px;
  }
}
